<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body> 
    <div>
        <img src="/images/logo-mercado-liebre.svg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <nav>Lugar para poner barra de busqueda</nav>
    <br>
    <br>
    <p>Compra en cuotas y sin tarjeta de crédito</p>
    <br>
    <br>
    <br>
    <br>
    <nav>
      <ul>

        <li><a>Ofertas </a></li>
        <li><a>Tiendas Oficiales</a></li>
        <li><a>Vender</a></li>
        <li><a>Ayuda</a></li>
        
        <br>

        <li><a>Creá tu cuenta</a></li>
        <li><a>Ingresá</a></li>
        <li><a>Mis compras</a></li>
       
      </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <main>

     <section>
    
        <h2>Basado en tu última visita</h2>
        <br>
        <br>
        <br>
        <img src="./images/img-cafetera-moulinex.jpg" >
        <h4>$6770</h4>
        <h4>40% Off</h4>
        <h3>Cafetera Moulinex</h3>
        <br>
        <br>
        <img src="./images/img-macbook-pro-2019.jpg" >
        <h4>$230000</h4>
        <h4>20% Off</h4>
        <h3>MacBook Pro 2019</h3>
        <br>
        <br>
        <img src="./images/img-samsung-galaxy-s10.jpg" >
        <h4>$70500</h4>
        <h4>10% Off</h4>
        <h3>Samsung Galaxy S10</h3>
        <br>
        <br>
        <img src="./images/img-tv-samsung-smart.jpg" >
        <h4>$23200</h4>
        <h4>5% Off</h4>
        <h3>SamrtTV Samsung 43"</h3>

        
     </section>
     <br>
     <br>
     <br>
     <br>
     <br>
     <section>

        <h2>Ofertas</h2>
        <br>
        <br>
        <img src="./images/img-cafetera-moulinex.jpg" >
        <h4>$6770</h4>
        <h4>40% Off</h4>
        <h3>Cafetera Moulinex</h3>
        <br>
        <br>
        <img src="./images/img-macbook-pro-2019.jpg" >
        <h4>$230000</h4>
        <h4>20% Off</h4>
        <h3>MacBook Pro 2019</h3>
        <br>
        <br>
        <img src="./images/img-samsung-galaxy-s10.jpg" >
        <h4>$70500</h4>
        <h4>10% Off</h4>
        <h3>Samsung Galaxy S10</h3>
        <br>
        <br>
        <img src="./images/img-tv-samsung-smart.jpg" >
        <h4>$23200</h4>
        <h4>5% Off</h4>
        <h3>SamrtTV Samsung 43"</h3>
        
     </section>
     
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
      <ul>
        <li><h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en 
        puntos de pago.¡Y siempre es seguro! </p>
         </li>
         <br>
         <li><h3>Envío gratis desde los $2500</h3>
         <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles 
          de productos.Es un beneficio de Mercado Puntos.</p>
         </li>
         <br>
         <li><h3>Seguridad de principio a fin</h3>
         <p>¿No te  gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer 
          porque estás siempre protegid@</p>
         </li>
         <br>
         <li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li>

      </ul>

    </footer>

</body>
</html>




   

         