<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body> 
    <div>
        <img src="/images/logo-mercado-liebre.svg">
    </div>

    <nav>barra de busqueda</nav>
    <p>compra en cuotas y sin tarjeta de crédito</p>
    <nav>
      <ul>
        <li><a>link 1 </a></li>
        <li><a>link 2</a></li>
        <li><a>link 3</a></li>
        <li><a>link 4</a></li>
        
        <br>

        <li><a>link 4</a></li>
        <li><a>link 5</a></li>
        <li><a>link 6</a></li>
        

      </ul>
    </nav>

    <main>

     <section>
    
        <h2>Basado en tu última visita</h2>


        <img src="./images/img-cafetera-moulinex.jpg" >
        <h4>$6770</h4>
        <h4>40% Off</h4>
        <h3>Cafetera Moulinex</h3>

        <img src="./images/img-macbook-pro-2019.jpg" >
        <h4>$230000</h4>
        <h4>20% Off</h4>
        <h3>MacBook Pro 2019</h3>

        <img src="./images/img-samsung-galaxy-s10.jpg" >
        <h4>$70500</h4>
        <h4>10% Off</h4>
        <h3>Samsung Galaxy S10</h3>


        <img src="./images/img-tv-samsung-smart.jpg" >
        <h4>$23200</h4>
        <h4>5% Off</h4>
        <h3>SamrtTV Samsung 43"</h3>
        

     </section>
     <section>
        <h2>Ofertas</h2>

        <img src="./images/img-cafetera-moulinex.jpg" >
        <h4>$6770</h4>
        <h4>40% Off</h4>
        <h3>Cafetera Moulinex</h3>

        <img src="./images/img-macbook-pro-2019.jpg" >
        <h4>$230000</h4>
        <h4>20% Off</h4>
        <h3>MacBook Pro 2019</h3>

        <img src="./images/img-samsung-galaxy-s10.jpg" >
        <h4>$70500</h4>
        <h4>10% Off</h4>
        <h3>Samsung Galaxy S10</h3>


        <img src="./images/img-tv-samsung-smart.jpg" >
        <h4>$23200</h4>
        <h4>5% Off</h4>
        <h3>SamrtTV Samsung 43"</h3>
        
     </section>

    </main>

    <footer>
      <ul>
        <li><h3>Pagá con tarjeta o en efectivo</h3>
        <p>jjjjlljjljjljlj</p>
         </li>
         <li><h3>Envío gratis      efectivo</h3>
         <p>jjjjlljjljjljlj</p>
         </li>
         <li><h3>Seguridad de principio a fin</h3>
         <p>jjjjlljjljjljlj</p>
         </li>
         <li><h3>Copyright   fectivo</h3>
         
         </li>

      </ul>
    

    </footer>


</body>



   

         <img  src="/images/estadio estudiantes.jpg" alt="imponente y gloriosos estadio">;
    
        <h2>Titulo h2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua.<strong>CI VEDIAMO</strong>CI VEDIAMO Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
             ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit 
             esse cillum dolore eu fugiat </p>
        
        

        <h2>Titulo h2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
             et dolore magna aliqua.<em>BUON GIORNO</em> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
              esse cillum dolore eu fugiat </p>
    

     <ol>

        <li><a href="/images/estadioCentenario.jpg">primer elemento </a></li>
        <li> primer elemento </li>
        <li> primer elemento </li>
        <li> primer elemento </li>
        
     </ol>
  
   
</body>
</html>